@media only screen and (min-width: 600px) and (max-width:  767px){

    
  .headDiv{
    background-color:#FFF4E6;
    height:80px;
}
#logoImg{
    width:90px;
    height: 40px;
    margin-left:3%;
    margin-top:1.5%;
}
#menu-toggle {
    display: none;
    
}
.hamburger {
  font-size: 30px;
  color: black;
  cursor: pointer;
  float: right;
    display: block;
    /* margin-left:4%; */
    margin-top:10px;
}
#menu-toggle:checked ~ #headNav {
    display: flex;
}
#headNav{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
         float: right;
          margin-left:500px; top: 20px;
        width: 20%;
        background:white;
    }

 
 #headNav a {
      padding: 15px;
        border-top: 1px solid #555;
    /* position:absolute; */
 }
 #bodySection{
    margin-left:3%;
    margin-right:3%;
}
#ayurvedDiv{
    width:300px;


}
.ayurvedaHead{
    font-family:"poppins";
    font-weight:300;
    font-size :30px; 
    line-height:25px;
    margin-top:20px;
    float: left;
}
.ayurvedaCont{
    margin:0px;
    font-family:"POPPy";
    float:left;
    line-height:26px;
    size:16px;
    margin-top:0;
    
}
.viewMoreBtn{
    background-color: #42C2B2;
    color:white;
    padding: 10px 20px;
    border:none;
    border-radius: 7px;
    float:left;
    margin-top:30px;
}
.homeimageDiv{
   
   margin:auto;
}
#homeimage{
    width:300px;
    height:200px;
    margin-bottom:3%;
    margin-top:70px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    

}
.serviceDiv{
   
    clear: both;
    margin-left: 3%;
    margin-right: 3%;
    margin-top:20px;
    height:200px;
}
.serviceSize{
    font-size:25px;
    font-family:"POPPy";
    letter-spacing:-1px;
    margin:0px;
    margin-left:4%;
    margin-top:20px;
}
.ayurvedaCont{
    margin:0px;
    font-family:"POPPy";
    word-spacing:3px;
    line-height:16px;
    size:1px;
    margin-top:20px;
}
#smaimageDiv{
    
    /* flex-direction: column ; */
     margin-left:3%;
    margin-right:3%;
    grid-template-columns:repeat(2,1fr);
    display:grid;
    margin-top: -20px;;
}
.smallimg{
    width:100%;
   height: 300px;
   margin-top:.50cm;
}     
.gridtag{
    position:relative;
    overflow:hidden;
    top:5px;
    margin-left:0.25cm;
     display: grid;

}

 .overlay{
    
    position:absolute;
    bottom: 0%;
    width:100%;
    height: 60px;
  background: linear-gradient(
    to top,
    #000000 0%,
     #000000 40%,
    rgba(255, 255, 255, 0) 100%
  )
 }
 .lastDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF4E6;
    margin-top:4%;
    padding:15px;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#logo {
    height:40px;
    width:70px;
    margin-bottom: 15px;
}
#lastlogo {
    height: 15px;
    margin-bottom: 8px;
}

.lastword {
    margin: 0;
    font-size: 7px;
    color: #555;
}
}


    
